grant
{  
 permission java.util.PropertyPermission "*", "read,write";
 permission java.net.SocketPermission "*:1024-65535", "listen,connect,accept,resolve";
 permission java.net.SocketPermission "*:80", "connect";   
};
